@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #273444;
  --accent: #3ab0b5;
  --highlight: #f0b429;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e293b;
    --foreground: #cbd2d9;
    --accent: #47c9c4;
    --highlight: #fcc94a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
